# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
storybook-static
package-lock.json
Collections.drawio
Language.drawio
tsconfig.tsbuildinfo
*.env
scripts

# github
.github

# firebase
.firebaserc
.firebase
firebase.json

# Editor directories and files
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/tsconfig.tsbuildinfo

# chromatic
build-storybook.log
chromatic.log
chromatic-build-*.xml
chromatic-diagnostics.json