@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'utils/typography';
@import 'utils/color';
@import 'utils/shadow';

@import 'components/input';
@import 'components/datepicker';
@import 'components/carousel';
@import 'components/divider';
@import 'components/scrollbar';
@import 'components/modal';
